<div class="row justify-content-center">
  <div class="col-lg-4  col-md-6">
    <div class="card cursor-pointer" [routerLink]="['/page/session/previous']" routerLinkActive="router-link-active">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h3 class="mb-1 danger">{{ status?.previousSessionsNumber }}</h3><span>إجمالي الحصص السابقة </span>
          </div>
          <div class="media-right align-self-center"><i class="ft-clock danger font-large-2 float-right"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card cursor-pointer" [routerLink]="['/page/session/upcoming']" routerLinkActive="router-link-active">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h3 class="mb-1 success">{{ status?.upComoingSessionsNumber }}</h3><span>إجمالي الحصص القادمة </span>
          </div>
          <div class="media-right align-self-center"><i class="ft-book success font-large-2 float-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4  col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <span>إجمالي العائد </span>
            <h3 class="mb-1 primary">{{ status?.totalCash  | number}} جنية</h3>
            <span>تم التحصيل</span>
            <p class="mb-1 primary">{{ status?.paidcash  | number}} جنية</p>
            <span>لديك</span>
            <p class="mb-1 primary">{{ status?.paid  | number}} جنية</p>
          </div>
          <div class="media-right align-self-center"><i class="ft-inbox primary font-large-2 float-right"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h3 class="mb-1 warning">{{ status?.rate }}</h3><span> متوسط التقيم</span>
          </div>
          <div class="media-right align-self-center"><i class="ft-star warning font-large-2 float-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
