.go-with-moe {
  margin: 1rem auto;
  display: flex;
  cursor: pointer;
  width: 100%;
  min-width: 300px;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  padding: 5px 12px;
  // margin-bottom: 3rem;
  height: 55px;
  background: var(--ion-color-white);
  box-shadow: 0px 3px 6px var(--ion-color-shadow);
  border: 1px solid var(--ion-color-border);
  border-radius: 6px;
  opacity: 1;

  span {
    color: var(--ion-color-turquoise);
    font-size: 14px;
    font-weight: 800;
  }
}

.go-with-moe:hover {
  background-color: #b2b2b2;
  color: #fff;
}

.go-with-moe img {
  width: 40px;
  height: 40px;
  margin: 0  0 0 10px;
  transition: all 0.3s ease-in-out;
}
