<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/GetLogo.png" alt="" class="img-fluid" width="300" height="230">
              </div>
              <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="mb-2 card-title">تسجيل الدخول</h4>
                <p>مرحبا بك مرة أخرى، يرجى تسجيل الدخول إلى حسابك.</p>
                <ngb-alert type="light-danger" class="mb-2" *ngIf="isLoginFailed" (close)="isLoginFailed = false">
                  <p class="mb-0">فشل التسجيل</p>
                </ngb-alert>
                <form [formGroup]="loginForm">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="البريد الإلكتروني"
                           [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.email.invalid, 'is-valid': loginFormSubmitted && !lf.email.invalid }" required>
                    <div *ngIf="loginFormSubmitted && (lf.email.invalid || lf.email.errors?.required)" class="help-block mt-1 text-danger"> <i
                         class="ft-alert-circle align-middle"></i> هذا
                      مطلوب</div>
                  </div>


                  <div class="form-group">
                    <label>تأكيد كلمة السر</label>
                    <div class="input-group">
                      <input [type]="showPasswordText ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="كلمة المرور"
                             [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.invalid, 'is-valid': loginFormSubmitted && !lf.password.invalid }" required>
                      <div class="input-group-append cursor-pointer" (click)="showPassword()">
                        <b class="input-group-text"><i class="" [class.ft-eye-off]="showPasswordText" [class.ft-eye]="!showPasswordText"></i></b>
                      </div>
                    </div>
                    <div *ngIf="loginFormSubmitted && (lf.password.invalid || lf.password.errors?.required)" class="help-block mt-1 text-danger"> <i
                         class="ft-alert-circle align-middle"></i> هذا
                      مطلوب
                    </div>
                  </div>



                  <div class="d-sm-flex justify-content-between mb-3 font-small-2">
                    <div class="remember-me mb-2 mb-sm-0">
                      <div class="checkbox auth-checkbox">
                        <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
                        <label for="rememberMe"><span class="font-small-2 mb-3 font-weight-normal">تذكرني</span></label>
                      </div>
                    </div>
                    <a href="javascript:;" [routerLink]="['/pages/forgot-password']" routerLinkActive="router-link-active">نسيت كلمة المرور؟</a>
                  </div>
                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <a href="javascript:;" class="btn bg-light-primary mb-2 mb-sm-0" [routerLink]="['/pages/register']" routerLinkActive="router-link-active">حساب جديد</a>
                    <a class="btn btn-primary" (click)="onSubmit()">دخول</a>
                  </div>
                </form>
                <hr>
                <button type="button" (click)="SSoLogin()" class="go-with-moe " routerLinkActive="router-link-active">
                  <div class=" inner-div">
                    <img src="assets/img/moebtn.svg" />
                    <span>تسجيل الدخول بالحساب الموحد</span>
                  </div>
                </button>
                <!-- <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="text-primary m-0">Or Login With</h6>
                  <ngx-spinner></ngx-spinner>
                  <div class="login-options">
                    <a class="btn btn-sm btn-social-icon btn-facebook mr-1"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-sm btn-social-icon btn-twitter mr-1"><span class="fa fa-twitter"></span></a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
