input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

// .selected {
//   background-color: #010048 !important;
//   color: #fff !important;
// }
.form-custom {
  max-width: 370px;
  position: relative;
  label {
    opacity: 0.4;
  }
  input {
    background: #fff;
    border: 1px solid #a8a8a86b;
    height: 50px;
    padding-inline-end: 80px;
  }
  .btn {
    position: absolute;
    top: 25px;
    height: 50px;
    left: -11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    background-color: #F24130;
    color: #fff;
  }
}
.cs-card{
  border-radius: 29px;
}

.custom{
  color: #F24130 ;
  text-decoration: underline;
  display: block;
  margin: 15px 0 ;
}
.students{
  max-height: 50vh;
  overflow: auto;
}
