<div class="d-flex justify-content-between align-items-center p-2">
  <h5 class="mb-0">{{session?.name}}</h5>
  <button class="btn btn-light glow  " type="button" [routerLink]="['/page/session/upcoming']">
    <span>العودة</span>
    <i class="ft-arrow-left"></i>
  </button>
</div>
<!-- <div class="card">
  <div class="card-header">

  </div>
  <div class="p-2">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label> إسم الطالب</label>
          <input class="form-control " (keyup)="search($event)" type="text">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label> رقم الهاتف</label>
          <input class="form-control " (keyup)="searchMobile($event)" type="number">
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row m-0" *ngIf="studentsOnline?.length>0">

  <div class="col-lg-4">
    <div class="d-flex justify-content-between mb-3 mt-3">
      <a class="btn btn-success px-3 " (click)="openModal(codeRegister,'md', true )">تسجيل
        الغياب</a>
    </div>
  </div>
</div>

<div class="student-tab">
  <div class="row justify-content-center">

    <div class="col-lg-3  col-md-6 text-center">
      <div class=" statistics">
        <p>
           لديك
        </p>
        <div class="d-flex align-items-center justify-content-center">
          <h4>{{paidCashIn}}</h4>
          <span>ج.م</span>
        </div>
        <p>تم التحصيل : {{paidCashOut}} ج.م</p>
        <p>الاجمالى : {{totalCash}} ج.م</p>
      </div>
    </div>

  </div>
  <div class="px-2 bg-white py-4 cs-card">

    <div class="students row m-0" style="padding-top: 40px;" *ngIf="studentsFiltered?.length > 0">
      <ng-container *ngFor="let student of studentsFiltered; let j = index;">
        <div class="col-lg-4 col-md-6">
          <div class="student-box " [class.selected]="student.checked">
            <div class="d-flex justify-content-between align-items-center">
              <h6>{{student.studentDisplayName}}</h6>
              <img src="assets/img/svg/mobile.svg" *ngIf="student.type == SessionAttendanceTypes.Online" width="20">
              <img src="assets/img/svg/money.svg" *ngIf="student.type != SessionAttendanceTypes.Online" width="20">
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">{{student.studentPhoneNumber}}</p>
              <p class="mb-0 status">
                {{student.status == SessionAttendanceStatuses.Attended ? (student.type == SessionAttendanceTypes.Online?'حاضر':'بدون حجز') : 'غائب'}}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center" style="padding-top: 40px;" *ngIf="studentsFiltered?.length == 0">
      لا يوجد
    </div>
    <a class="custom" (click)="openModal(newRegister,'xl' )">
      + اضف طالب جديد
    </a>
  </div>
  <!-- <div class="p-2  bg-white py-4" *ngIf="studentsFiltered?.length == 0 || !studentsFiltered">
    <div class="text-center">
      لا يوجد
    </div>
  </div> -->

</div>

<ng-template #newRegister let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark text-bold-300">
      حضور بدون تسجيل مسبق
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="p-2 bg-white">

      <div class="mt-3 mb-2">
        <div class="row m-0">
          <div class="col-lg-3">
            <div class="form-group">
              <label> إسم الطالب</label>
              <input class="form-control " [(ngModel)]="body.studentDisplayName" type="text">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label> كود الطالب</label>
              <input class="form-control " [(ngModel)]="body.studentCode" type="number">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label> رقم الهاتف</label>
              <input class="form-control " [(ngModel)]="body.studentPhoneNumber" (keyup)="checkPhone()" type="number">
              <div class="text-danger" *ngIf="!phoneVaild">
                رقم الهاتف غير صحيح
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex justify-content-between mt-1 mt-lg-3 mb-2">
              <button class="btn btn-success  px-3 w-100" (click)="attendOffline()"
                      [disabled]="!body.studentPhoneNumber || !body.studentCode || !body.studentDisplayName || !phoneVaild">
                أضف إلى المجموعة
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-end">
      <button type="button" (click)="d()" class="btn btn-light glow mb-0 mr-2">

        إلغاء
      </button>
    </div>
  </div>
</ng-template>
<ng-template #codeRegister let-c="close" let-d="dismiss">
  <div class="modal-header">


    <div style="display: flex;justify-content: space-between;width: 100%;align-items: center;" >
      <h4 class="modal-title text-dark text-bold-300">
        تسجيل الغياب
      </h4>
      <h4 class="mb-0">
         {{studentsOnline?.length}} / <span class="text-success">{{selected?.length }} </span> 
      </h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d()" #close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="p-2 bg-white">
      <p class="alert alert-danger" *ngIf="!isFounded && submitted">لا يوجد طالب مسجل بهذا الكود.</p>
      <p class="alert alert-success" *ngIf="isFounded && submitted">
        {{studentName}}
        /
        تم تسجيل الحضور
      </p>
      <app-check-code (code)="checkCode($event)" [founded]="isFounded"></app-check-code>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-end">
      <button type="button" (click)="takeAbsence()" class="btn btn-success  px-4 glow mb-0 mr-2">
        تم
      </button>
    </div>
  </div>
</ng-template>
