<div class="row justify-content-center">

  <div class="col-lg-3  col-md-6 text-center">
    <div class=" statistics">
      <p>
        لديك
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <h4>{{CashIn}}</h4>
        <span>ج.م</span>
      </div>
      <p>تم التحصيل : {{CashOut}} ج.م</p>
      <p>الاجمالى : {{TotalCash}} ج.م</p>
    </div>
  </div>

</div>
<div class="card card-cs" style="padding-top: 40px;">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0"> الحصص القادمة</h5>
      <button class="btn btn-white px-2 btn-md border" (click)="openModal(filter,'xl' )">
        <img src="assets/img/filter.svg" width="18">
      </button>
    </div>
  </div>

  <div class="card-body sessions-tabs" *ngIf="sessions?.length > 0">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngFor="let item of sessions ; let i = index;" [class.first]="i == 0">
        <ng-template mat-tab-label>

          {{ moment(moment(item.date).toDate())
      .locale("ar")
      .format("dddd  Do MMM ")}}
          <!-- <span class="mr-2 badge badge-primary" *ngIf="item.sessions?.length">
            {{item.sessions?.length}}
          </span> -->
        </ng-template>

        <div class="row m-0">
          <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let session of item.sessions; let j = index;">
            <div class="custom-card">
              <a class="p-absolute" [routerLink]="['/page/session/upcoming/' + session.id]" routerLinkActive="router-link-active"></a>
              <div class="date d-flex align-items-center ">
                <img src="assets/img/clock.svg" alt="calendar">
                <p class="mb-0">
                  {{ moment(moment(session.startsAt).toDate())
                .locale("ar")
                .format("h:mm a")
              }}
                  -
                  {{ moment(moment(session.endsAt).toDate())
                .locale("ar")
                .format("h:mm a")
              }}
                </p>
              </div>

              <div class="subject d-flex align-items-center justify-content-between my-2">
                <p class="subject-text">
                  {{session.name}}
                </p>
              </div>

              <div class="subject d-flex align-items-center justify-content-between">
                <p class="subject-text">
                  كرسي محجوز
                  <!-- {{session.noOfSeats - session.noOfAvailableSeats}} -->
                  {{session.reservationCount}}
                </p>
              </div>

              <div class="seatPrice d-flex align-items-center">
                <h4>
                  {{session.totalCash}}
                </h4>
                <span>ج.م</span>
              </div>

              <div class="icon">
                <img src="assets/img/arrow.svg" alt="arrow">
              </div>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="card-body" *ngIf="sessions?.length == 0">
    <div class="text-center">
      لا يوجد حصص
    </div>
  </div>
</div>


<ng-template #filter let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark text-bold-300">
      بحث
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label> المادة الدراسية</label>
          <select class="form-control " [(ngModel)]="body.SubjectId">
            <option selected disabled>اختر المادة الدراسية</option>
            <option *ngFor="let item of subjects" [value]="item.id">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label> الفتره من</label>
          <input type="datetime-local" class="form-control mb-2" [(ngModel)]="body.From">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label> الفترة الي</label>
          <input type="datetime-local" class="form-control mb-2" [(ngModel)]="body.To">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex">
        <a class="btn btn-success mr-2" (click)="getAll()">بحث</a>
        <a class="btn btn-danger " (click)="reset()">مسح</a>
      </div>

      <button type="button" (click)="d()" class="btn btn-light glow mb-0 mr-sm-2">
        إلغاء
      </button>
    </div>

  </div>
</ng-template>
