<div class=" ltr">

  <div class="d-flex">
    <input class="form-control " #input1 (keyup)="changeFocus(1,$event)" [(ngModel)]="code1" name="studentCode" type="text" oncopy="return false" oncut="return false"
           onpaste="return false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [maxLength]="1">
    <input class="form-control " #input2 (keyup)="changeFocus(2,$event)" [(ngModel)]="code2" name="studentCode" type="text" oncopy="return false" oncut="return false"
           onpaste="return false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [maxLength]="1">
    <input class="form-control " #input3 (keyup)="changeFocus(3,$event)" [(ngModel)]="code3" name="studentCode" type="text" oncopy="return false" oncut="return false"
           onpaste="return false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [maxLength]="1">
    <input class="form-control " #input4 (keyup)="changeFocus(4,$event)" [(ngModel)]="code4" name="studentCode" type="text" oncopy="return false" oncut="return false"
           onpaste="return false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [maxLength]="1">
    <input class="form-control " #input5 (keyup)="changeFocus(5,$event)" [(ngModel)]="code5" name="studentCode" type="text" oncopy="return false" oncut="return false"
           onpaste="return false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [maxLength]="1">

  </div>
</div>
