$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$primary: #010048 !default;
$success: #40C057 !default;
$info: #2F8BE6 !default;
$warning: #F77E17 !default;
$danger: #010048 !default;
$secondary: #616D89 !default;
$light: #DBDEE5 !default;
$dark: #1A051D !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark
  ),
  $theme-colors
);

// Spacing

$spacer: 1.5rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: $spacer,
  4: (
    $spacer * 1.5
  ),
  5: (
    $spacer * 3
  )
) !default;

// Body
//
// Settings for the `<body>` element.
$body-bg: #F7F7F8;
$body-color: #342E49 !default;


// Links
//
// Style anchor elements.

$link-color: $primary !default;
$link-hover-color: darken($link-color, 5%) !default;
$link-hover-decoration: none !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-color: #E0E0E0 !default;

$border-radius: 0.35rem !default;
$border-radius-lg: 0.6rem !default;
$border-radius-sm: 0.25rem !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue",Arial, sans-serif;

$headings-font-family: $font-family-sans-serif !default;
$headings-line-height: 1.1 !default;
$headings-color: #590242 !default;

$small-font-size: 90% !default;

$text-muted: #BDBDBD !default;

$blockquote-font-size: 1.1rem !default;

$hr-border-color: $border-color !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1.15rem 2rem !default;
$table-accent-bg: rgba($black, .03) !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.375rem !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 0.4rem !default;
$btn-padding-x: 1.25rem !default;
$btn-line-height: 1.5rem !default;
$btn-border-radius-lg: $border-radius !default;
$btn-border-radius-sm: $border-radius !default;


// Forms

$label-margin-bottom: 0.2rem !default;
$input-padding-y: $input-btn-padding-y !default;
$input-line-height: 1.5 !default;
$input-bg: transparent !default;
$input-disabled-bg: $body-bg !default;
$input-color: #75787d !default;
$input-border-color: #E0E0E0 !default;
$input-focus-border-color: $primary !default;
$input-focus-box-shadow: none !default;
$input-placeholder-color: $text-muted !default;
$input-height: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + 3px) !default;

$custom-control-label-disabled-color: $gray-500 !default;
$custom-control-indicator-focus-box-shadow: 0 !default;
$custom-switch-width: 2.6rem !default;
$custom-select-focus-box-shadow: 0 !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.



// Navs

$nav-link-disabled-color: #9E9E9E !default;
$nav-tabs-link-hover-border-color:  transparent !default;
$nav-tabs-link-active-color: $primary !default;
$nav-tabs-link-active-bg: transparent !default;
$nav-tabs-link-active-border-color: transparent !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-padding-y: 0 !default;
$dropdown-border-color: $border-color !default;
$dropdown-divider-bg: $border-color !default;
$dropdown-divider-margin-y: 0 !default;
$dropdown-item-padding-y: 10px !default;
$dropdown-item-padding-x: 20px !default;
$dropdown-link-color: $body-color !default;
$dropdown-link-hover-color: inherit !default;
$dropdown-link-hover-bg: $body-bg !default;
$dropdown-header-color: $body-color !default;

// Pagination

$pagination-bg: #F5F5F5 !default;
$pagination-border-color: $border-color !default;
$pagination-focus-box-shadow: 0 !default;
$pagination-hover-color: $primary !default;
$pagination-hover-bg: #EEEEEE !default;
$pagination-hover-border-color: $border-color !default;
$pagination-disabled-color: #757575 !default;
$pagination-disabled-bg: #E0E0E0 !default;
$pagination-disabled-border-color:  $border-color !default;

// Cards

$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-border-width: 0 !default;
$card-inner-border-radius: $border-radius !default;

// Popovers

$popover-border-color: $border-color !default;
$popover-border-radius: $border-radius !default;
$popover-header-bg: $body-bg !default;
$popover-header-padding-y: 0.6rem !default;
$popover-header-padding-x: 1rem !default;

// Toasts

$toast-padding-y: 0.45rem !default;
$toast-border-color: $border-color !default;
$toast-border-radius: $border-radius !default;
$toast-box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11) !default;
$toast-header-color: $headings-color !default;
$toast-header-border-color: $border-color !default;

// Badges

$badge-font-size: 85% !default;
$badge-font-weight: 500 !default;
$badge-padding-y: 0.4rem !default;
$badge-padding-x: 0.666666667rem !default;

// Modals

$modal-content-border-color: transparent !default;
$modal-content-border-radius: $border-radius !default;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 0.95rem !default;
$alert-padding-x: 1.45rem !default;

// Progress bars

$progress-height: 0.8rem !default;
$progress-border-radius: 1rem !default;
$progress-bg: #eee !default;

// List group

$list-group-border-color: $border-color !default;
$list-group-hover-bg: $body-bg !default;
$list-group-disabled-color: #757575 !default;
$list-group-action-color: inherit !default;

// Image thumbnails

$thumbnail-border-color: $border-color !default;


// Code

$code-font-size: 90% !default;
$code-color: $danger !default;

// Utilities

$overflows: auto, hidden, visible, scroll !default;
