<div class="d-flex justify-content-between align-items-center p-2">
  <h5 class="mb-0">{{session?.name}}</h5>
  <button class="btn btn-light glow  " type="button" [routerLink]="['/page/session/previous']">
    <span>العودة</span>
    <i class="ft-arrow-left"></i>
  </button>
</div>

<!-- <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label> إسم الطالب</label>
          <input class="form-control " (keyup)="search($event)" type="text">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label> رقم الهاتف</label>
          <input class="form-control " (keyup)="searchMobile($event)" type="number">
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row justify-content-center">

  <div class="col-lg-3  col-md-6 text-center">
    <div class=" statistics">
      <p>
         لديك
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <h4>{{paidCashIn}}</h4>
        <span>ج.م</span>
      </div>
      <p>تم التحصيل : {{paidCashOut}} ج.م</p>
      <p>الاجمالى : {{totalCash}} ج.م</p>
    </div>
    
  </div>

</div>

<div class="px-2 bg-white py-4 card-cs">


  <div class="students row m-0" style="padding-top: 40px;" *ngIf="studentsFiltered?.length > 0">
    <ng-container *ngFor="let student of studentsFiltered; let j = index;">
      <div class="col-lg-4 col-md-6">
        <div class="student-box " [class.selected]="student.status == SessionAttendanceStatuses.Attended">
          <div class="d-flex justify-content-between align-items-center">
            <h6>{{student.studentDisplayName}}</h6>
            <img src="assets/img/svg/mobile.svg" *ngIf="student.type == SessionAttendanceTypes.Online" width="20">
            <img src="assets/img/svg/money.svg" *ngIf="student.type != SessionAttendanceTypes.Online" width="20">
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0">{{student.studentPhoneNumber}}</p>
            <p class="mb-0 status">
              {{student.status == SessionAttendanceStatuses.Attended ? 'حاضر' : 'غائب'}}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="text-center" style="padding-top: 40px;" *ngIf="studentsFiltered?.length == 0">
    لا يوجد
  </div>
</div>

<!-- <div class="card">
  <div class="card-body" *ngIf="studentsFiltered?.length == 0 || !studentsFiltered">
    <div class="text-center">
      لا يوجد
    </div>
  </div>
</div> -->
