@import "../core/variables/variables";
@import "../core/variables/app-variables";
@import "../core/colors/palette-variables";

// Full page background
.auth-page:not(.layout-dark) {
  background: linear-gradient(#ffffff4d,#ffffff4d), url('../../img/classroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.auth-page {
  .auth-img {
    padding: 0;

    .auth-img-bg {
      background-color: map-get($grey-color, lighten-4);
    }
  }
}

// to remove scrollbar in auth pages
.auth-height {
  overflow: auto;
}
