<div class="card mb-5">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تعديل الملف الشخصي</h5>
    </div>
  </div>
  <hr>
  <div class="card-body">
    <form [formGroup]="userForm" class="row">
      <div class="col-lg-4">
        <div class="image">
          <img [src]="coverImageUrl" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>الأسم بالكامل</label>
              <input type="text" formControlName="fullName" placeholder="الاسم بالكامل" class="form-control mb-2" disabled>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>الأسم الظاهر </label>
              <input type="text" formControlName="displayName" class="form-control mb-2" placeholder="الاسم الظاهر"
                     [ngClass]="{ 'is-invalid': userFormSubmitted && f.displayName.invalid, 'is-valid': userFormSubmitted && !f.displayName.invalid }" required>
              <div *ngIf="userFormSubmitted && (f.displayName.invalid || f.displayName.errors?.required)" class="help-block mt-1 text-danger"> <i
                   class="ft-alert-circle align-middle"></i>
                الاسم الظاهر مطلوب
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>البريد الإلكتروني</label>
              <input type="email" formControlName="email" placeholder="البريد الإلكتروني" class="form-control mb-2" disabled>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>رقم الهاتف</label>
              <input type="number" class="form-control mb-2" formControlName="phoneNumber"
                     [ngClass]="{ 'is-invalid': userFormSubmitted && f.phoneNumber.invalid, 'is-valid': userFormSubmitted && !f.phoneNumber.invalid }" required
                     placeholder="ادخل رقم الهاتف">
              <div *ngIf="userFormSubmitted && (f.phoneNumber.invalid && f.phoneNumber.errors?.required)" class="help-block mt-1 text-danger"> <i
                   class="ft-alert-circle align-middle"></i>
                رقم الهاتف مطلوب
              </div>
              <!-- <pre>
              </pre> -->
              <div class="text-danger" *ngIf=" userFormSubmitted && (f.phoneNumber.errors?.pattern)">
                <i class="ft-alert-circle align-middle"></i>
                رقم الهاتف لابد أن يكون 11 رقم
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="d-flex justify-content-end flex-sm-row flex-column">
              <a [routerLink]="['/page/session/upcoming']" class="btn bg-light-primary mb-2 mb-sm-0 mx-sm-3"> العودة</a>
              <a class="btn btn-primary" (click)="updateUser()">حفظ</a>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>

</div>
