.card-body{
  overflow-x: clip;
}
.pdf{
  img{
   width: 50px;
   height: 50px;
   position: absolute;
   top: 0;
  }
     .show-photo{
       .icon{
         top: 55px !important;
     right: 5px !important;
       }
     }
 }
