/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "avenir-heavy";
  src: url("assets/vendor/avenir_ff/avenir_heavy.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "avenir-black";
  src: url("assets/vendor/avenir_ff/avenir_black.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "avenir-medium";
  src: url("assets/vendor/avenir_ff/avenir_medium.ttf");
  font-weight: 600;
}
body{
  /* background: url("assets/img/BG.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(234deg, #F24130 -60%, transparent 39%);
    background-color: #f3f3f3;
}
.custom-card.card-success{
  background:linear-gradient(#ff000073,#ff000073), url("assets/img/card-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.custom-card.card-warning{
  background:linear-gradient(#958B0073,#958B0073), url("assets/img/card-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-card{
  background: conic-gradient(#fff,#C1C0BCCF,#fff);
  background-size: cover;
  background-repeat: no-repeat;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.preload {
  position: fixed;
  z-index: 9999;
  background: rgb(32 32 32 / 35%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-tab-group, .mat-tab-label, .mat-tab-link, .app-sidebar{

  font-family: "avenir-heavy";
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "avenir-black";
}

html, body { height: 100%; }
