<div class="card card-cs">
  <div class="card-header ">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0"> الطلبات</h5>
      <button class="btn btn-white px-1 btn-md border" (click)="openModal(newRequest,'xl', null , true)">
        <img src="assets/img/add.png" width="25">
      </button>
    </div>
  </div>

  <div class="card-body" *ngIf="requests?.length > 0">

    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let item of requests; let j = index;">
        <div class="custom-card" [class.card-success]="item.status == 3" [class.card-warning]="item.status == 1">
          <div class="date d-flex align-items-center">
            <img src="assets/img/calendar.svg" alt="calendar">
            <p class="mb-0">

              {{ moment(moment(item.creationTime).toDate())
                .locale("ar")
                .format("Do MMM YYYY")}}
            </p>
          </div>

          <div class="subject d-flex align-items-center justify-content-between">
            <p class="subject-text">
              {{item.subjectName}}
            </p>
            <div class="status" [class.danger]="item.status == 3" [class.success]="item.status == 2" [class.warning]="item.status == 1">
              <div class="d-flex align-items-center">
                <img src="assets/img/checkmark.svg" *ngIf="item.status == 2">
                <img src="assets/img/warning.svg" *ngIf="item.status == 1">
                <img src="assets/img/reject.svg" *ngIf="item.status == 3">
                <span>حالة الطلب</span>
              </div>
              <h4>
                {{ item.status == 3 ?
                   'مرفوض' :
                    item.status == 2 ?
                     'مقبول' :
                      ' قيد المراجعة' }}
              </h4>
            </div>
          </div>

          <div class="school">
            <h6>
              {{item.schoolName}}
            </h6>
          </div>

          <div class="comment">
            <p *ngIf="!item.comments">
              لا يوجد تعليقات
            </p>

            <div class="text-center" *ngIf="item.comments">
              <button class="btn btn-light px-2 btn-md " (click)="openModal(commentModal,'lg', item.comments)">
                يوجد تعليق أقرأ الان
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body" *ngIf="requests?.length == 0">
    <div class="text-center">
      لا يوجد طلبات
    </div>
  </div>
</div>


<ng-template #commentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark text-bold-300">
      تعليقك علي طلبكم
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5 class="text-center  overflow-wrap">
      {{comment}}
    </h5>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-end">
      <button type="button" (click)="d()" class="btn btn-light glow mb-0 mr-2">
        إلغاء
      </button>
    </div>
  </div>
</ng-template>



<ng-template #newRequest let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark text-bold-300">
      تقديم طلب
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-tab-group mat-stretch-tabs [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event); getIndex($event)">
      <mat-tab label="البيانات التعليمية">
        <div class="row mt-3">
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>المحافظة</label>
              <ng-select [items]="governorateList" [disabled]="governorateList.length === 0" bindLabel="name" class="mb-3" bindValue="id" placeholder="اختر المحافظة"
                         (change)="getAlldistricts()" [(ngModel)]="govId" [clearable]="false">
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>الإدارة التعليمة</label>
              <ng-select [items]="districtList" [disabled]="districtList.length === 0" bindLabel="name" class="mb-3" bindValue="id" placeholder="اختر الادارة التعليمية"
                         (change)="getAllschools()" [(ngModel)]="disId" [clearable]="false">
              </ng-select>
            </div>
          </div>


          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label> المدرسة</label>
              <ng-select [items]="schoolsList" [disabled]="schoolsList.length === 0" bindLabel="name" class="mb-3" bindValue="id" placeholder="اختر المدرسة" [(ngModel)]="schoolId"
                         [clearable]="false">
              </ng-select>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label> المادة الدراسية</label>
              <ng-select [items]="subjectList" bindLabel="name" [(ngModel)]="subjectId" [closeOnSelect]="true" [multiple]="false" class="mb-3" bindValue="id"
                         placeholder="اختر المادة">
              </ng-select>
            </div>
          </div>

          <div class="col-12">
            <div class="d-flex justify-content-between flex-sm-row flex-column">
              <a class="btn bg-light mb-2 mb-sm-0" (click)="d()">إغلاق</a>
              <button class="btn btn-primary" (click)="selected.setValue(1)" [disabled]="!this.schoolId || !this.subjectId">التالي</button>
            </div>
          </div>

        </div>
      </mat-tab>


      <mat-tab label="المستندات المطلوبة" [disabled]="!this.schoolId || !this.subjectId">


        <div class="row mt-3" *ngIf="attachments.length  > 0">

          <div class="col-lg-6" *ngFor="let item of attachments; let i = index">
            <label>{{item.name}}</label>
            <div class=" upload mx-auto	mb-lg-0 mb-4  ">
              <div [ngClass]="{uploaded: item.url}" class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative" *ngIf="!item.url">
                <div class="text-center">
                  <input id="upload" type="file" (change)="uploadFile($event,i,item.maxSize)" class="p-absolute" accept=".png,.jpg,.jpeg,.pdf">
                  <svg id="upload" xmlns="http://www.w3.org/2000/svg" width="39.554" height="42.191" class="icon-upload mb-3" viewBox="0 0 39.554 42.191">
                    <g id="Group_9206" data-name="Group 9206" transform="translate(9.229)">
                      <g id="Group_9205" data-name="Group 9205">
                        <path id="Path_7784" data-name="Path 7784"
                              d="M148.767,11,139.537.451a1.316,1.316,0,0,0-1.983,0L128.325,11a1.318,1.318,0,0,0,.991,2.186h5.274v17.14a1.319,1.319,0,0,0,1.318,1.318h5.274a1.319,1.319,0,0,0,1.318-1.318V13.185h5.274A1.318,1.318,0,0,0,148.767,11Z"
                              transform="translate(-127.998 0)" fill="#7d8593" />
                      </g>
                    </g>
                    <g id="Group_9208" data-name="Group 9208" transform="translate(0 29.006)">
                      <g id="Group_9207" data-name="Group 9207">
                        <path id="Path_7785" data-name="Path 7785" d="M50.28,352v7.911H21.274V352H16v10.548a2.636,2.636,0,0,0,2.637,2.637h34.28a2.635,2.635,0,0,0,2.637-2.637V352Z"
                              transform="translate(-16 -352)" fill="#7d8593" />
                      </g>
                    </g>
                  </svg>

                  <h5 class="pb-3">قم بسحب الصور او تصفح الصور الحالية على الجهاز الخاص بك</h5>

                </div>


              </div>
              <!-- end upload-file-->

              <ng-container *ngIf="item.url">
                <div class="uploaded upload-file border-0" [class.pdf]="item.src.type =='application/pdf'">
                  <div class="show-photo">
                    <div class="icon" (click)="clearFile(i)">
                      <i class="ft-trash"></i>
                    </div>
                    <!-- end icon-->
                    <img onerror="this.src = 'assets/img/img.png'" [src]="item.url" alt="photo">
                    <div *ngIf="item.src.type =='application/pdf'" style="padding-right:55px;">
                      <h4>{{item.src.name}}</h4>
                      <h4>{{(item.src.size / 1024) |number }}kb</h4>
                    </div>

                  </div>
                </div>
              </ng-container>

            </div>
          </div>

          <div class="col-lg-12">
            <div class="d-flex justify-content-between flex-sm-row flex-column">
              <a class="btn bg-light mb-2 mb-sm-0" (click)="selected.setValue(0)">السابق </a>
              <!-- also disable if any of attachements is null -->
              <button [disabled]="!this.schoolId || !this.subjectId  || attachmentsInvalid" (click)="AddApplication()" class="btn btn-success px-5">تقديم طلب</button>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
