<!--Footer Starts-->
<footer class="footer">
  <p class="copyright clearfix text-muted m-0">

    <span class="d-none d-sm-inline-block">, جميع الحقوق محفوظة</span>
    &copy; {{currentDate | date: 'yyyy'}} <a id="pixinventLink" href="http://www.appenza-studio.com/index.html">Appenza</a>
  </p>
</footer>
<!--Footer Ends-->
