<div class="row justify-content-center">

  <div class="col-lg-3  col-md-6 text-center">
    <div class=" statistics">
      <p>
        لديك
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <h4>{{totalCashIn}}</h4>
        <span>ج.م</span>
      </div>
      <p>تم التحصيل : {{totalCashOut}} ج.م</p>
      <p>الاجمالى : {{totalCash}} ج.م</p>
    </div>
  </div>

</div>
<div class="card card-cs" style="padding-top: 40px;">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center" *ngIf="sessions?.length > 0">
      <h5 class="mb-3">
        <span class="date-today">
          {{ moment(moment(sessions[0].date).toDate())
            .locale("ar")
            .format("dddd  Do MMM ")}}
        </span>
        <br>
        حصص اليوم
      </h5>
    </div>
  </div>

  <div class="card-body sessions-tabs" *ngIf="sessions?.length > 0">
    <div class="row m-0">
      <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let session of sessions[0].sessions; let j = index; ">
        <div class="custom-card">
          <a class="p-absolute" [routerLink]="['/page/session/upcoming/' + session.id]" routerLinkActive="router-link-active"></a>
          <div class="date d-flex align-items-center ">
            <img src="assets/img/clock.svg" alt="calendar">
            <p class="mb-0">
              {{ moment(moment(session.startsAt).toDate())
            .locale("ar")
            .format("h:mm a")
          }}
              -
              {{ moment(moment(session.endsAt).toDate())
            .locale("ar")
            .format("h:mm a")
          }}
            </p>
          </div>

          <div class="subject d-flex align-items-center justify-content-between my-2">
            <p class="subject-text">
              {{session.name}}
            </p>
          </div>

          <div class="subject d-flex align-items-center justify-content-between">
            <p class="subject-text">
              كرسي محجوز
              {{session.reservationCount}}
            </p>
          </div>

          <div class="seatPrice d-flex align-items-center">
            <h4>
              {{session.totalCash}}
            </h4>
            <span>ج.م</span>
          </div>

          <div class="icon">
            <img src="assets/img/arrow.svg" alt="arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="sessions?.length == 0">
    <div class="text-center">
      لا يوجد حصص
    </div>
  </div>
</div>
