// Global Overrides Template Level Only
// @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

p {
  margin-bottom: 0;
}
//------- ng-accordion -------
.accordion {
  .card {
    margin: 0;
    background-color: transparent !important;

    &:not(:last-of-type) {
      .card-header {
        border-bottom: 1px solid $border-color;
      }
    }

    &:last-of-type {
      .card-header button {
        padding-bottom: 0;
      }

      .card-body {
        padding-bottom: 0;
      }
    }

    .card-header {
      padding: 0;

      h5 {
        color: #590242;
      }
      button {
        padding: 1.5rem;
        width: 100%;
        text-align: start;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

// for dark and transparent layouts
html body.layout-dark {
  .accordion .card {
    box-shadow: none;
  }

  &:not(.layout-transparent) {
    .accordion .card .card-header {
      border-color: $dl-border-color;
    }
  }

  &.layout-transparent {
    .accordion .card .card-header {
      border-color: $tl-border-color;

      button:not([disabled]) {
        color: map-get($primary-color, lighten-4);
      }
    }
  }
}

//------- horizontal timeline -------
.cd-horizontal-timeline .events-content li {
  transform: translateX(0);
}

//------- time picker -------
.ngb-tp-input-container button:hover {
  box-shadow: none;
}

//------- Chartist Tooltip -------
.chartist-tooltip:not(.tooltip-show) {
  padding: 0;

  &:before {
    border: 0;
  }
}

html[dir="rtl"] {
  body {
    text-align: right;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .app-sidebar {
    // font-family: "Cairo", sans-serif !important;
  }
  .dropdown-menu-right {
    right: auto !important;
    left: 0 !important;
  }
  .has-icon-right .form-control-position {
    background-position: left calc(2.375em + 0.1875rem) center !important;
  }
  .has-icon-right .form-control {
    padding-left: 2.8rem;
    padding-right: unset;
  }
  .editItem {
    left: 0;
    right: unset;
  }
  .modal-header .close {
    margin: -1rem auto -1rem -1rem;
  }
  .close {
    float: left;
  }
  .app-sidebar .navigation li.has-sub > a:after {
    transform: rotate(180deg);
  }
  .app-sidebar .navigation li.open > a:after {
    transform: rotate(90deg);
  }
  body[data-menu="vertical-menu"]
    .app-sidebar
    .navigation
    li.active:not(.open)
    > a:before {
    right: 0;
    left: unset;
  }
  body[data-menu="vertical-menu"]
    .app-sidebar
    .navigation
    li.active
    > a:before {
    right: 0;
    left: unset;
    border-right: unset;
    border-left: solid 5px #010048;
    transition: 0.35s ease right;
  }
  .active-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .inactive-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body .app-sidebar .navigation li > a:before {
    right: -100%;
  }
  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    padding-right: unset;
    padding-left: calc(1.5em + 0.75rem);
  }
  .has-icon-right .form-control-position {
    left: 0;
    right: unset;
  }
  .vertical-layout .main-panel .main-content {
    margin-right: 250px;
    margin-left: unset;
  }
  .menu-expanded .app-sidebar {
    right: 0;
    left: unset;
  }
  .sidebar-header a.nav-close,
  .app-sidebar .navigation li.has-sub > a:after,
  .sidebar-header a.nav-toggle {
    left: 14px;
    right: unset;
  }
  .app-sidebar .navigation li,
  .app-sidebar .logo .logo-text {
    text-align: right;
  }
  .app-sidebar .navigation i,
  .float-left {
    float: right !important;
  }
  .app-sidebar .navigation i {
    margin-right: unset;
    margin-left: 10px;
  }
  .app-sidebar .logo-img {
    margin-left: 15px;
  }
  .app-sidebar .navigation {
    padding-right: 0;
    padding-left: unset;
  }
  .app-sidebar .navigation li > a {
    padding: 10px 14px 10px 30px;
  }
  .app-sidebar .navigation .badge.badge-pill {
    left: 28px;
    right: unset;
  }
  .scroll-top {
    left: 2rem;
    right: unset;
  }
  .blank-page .wrapper .main-panel .main-content {
    margin: 0 !important;
  }
  .navbar .navbar-nav {
    margin-right: -18px;
    margin-left: 0;
    padding: 0;
  }
  .navbar .langimg {
    margin: 0 0 0 10px !important ;
  }
  .text-left {
    text-align: right !important;
  }
  .mr-2,
  .mx-2 {
    margin-left: 0.75rem !important;
    margin-right: unset;
  }
  .mr-3,
  .mx-3 {
    margin-right: unset !important;
    margin-left: 1.5rem !important;
  }
  .radio label::after {
    right: 4px;
    left: unset;
  }
  .radio label::before {
    margin-left: 0.532rem;
    margin-right: unset;
  }
  .ml-2,
  .mx-2 {
    margin-right: 0.75rem !important;
    margin-left: unset !important;
  }
  .checkbox label:after,
  .checkbox label:before {
    right: 0;
    left: unset;
  }
  .checkbox input[type="checkbox"]:checked ~ label:after {
    left: unset;
    right: 4px;
  }
  .checkbox label {
    margin-right: 1.75rem;
    margin-left: unset;
  }
  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    background-position: left calc(0.375em + 0.1875rem) center;
  }
  .text-left {
    text-align: right !important;
  }
  .text-right {
    text-align: left !important;
  }
  .form-control:focus::placeholder {
    transform: translate(-5px);
  }
  .complaint.form-control-position {
    left: 15px;
    right: unset;
  }
  nav.navbar.header-navbar {
    margin-left: unset;
    margin-right: 250px;
  }
  .app-sidebar .navigation i.submenu-icon {
    float: left !important;
    transform: rotate(180deg);
  }
  .app-sidebar .navigation li > ul > li > a {
    padding: 10px 20px 10px 10px;
  }
  .input-group > .form-control:not(:last-child),
  .input-group > .custom-select:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
  }
  .input-group > .input-group-append > .btn,
  .input-group > .input-group-append > .input-group-text,
  .input-group > .input-group-prepend:not(:first-child) > .btn,
  .input-group > .input-group-prepend:not(:first-child) > .input-group-text,
  .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
  .input-group
    > .input-group-prepend:first-child
    > .input-group-text:not(:first-child) {
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  datatable-pager {
    ul {
      li {
        &:first-child {
          transform: rotateY(180deg);
          margin: 0 !important;
        }
        &:last-child {
          transform: rotateY(180deg);
          margin: 0 0 !important;
          a {
            margin: 0 0 !important;
          }
        }
        &:nth-child(2) {
          transform: rotateY(180deg);
          margin: 0 0px 0 6px !important;
        }
        &:nth-last-child(2) {
          transform: rotateY(180deg);
          margin: 0 0px 0 6px !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  html[dir="rtl"] {
    .app-sidebar {
      right: 0;
      left: unset;
    }

    body.nav-collapsed:not(.horizontal-layout) .navbar {
      margin-right: 60px;
      margin-left: 0;
    }

    body.nav-collapsed:not(.horizontal-layout) .main-panel .main-content {
      margin-right: 60px !important;
    }
    .vertical-menu footer.footer,
    .vertical-menu .navbar {
      margin-right: 250px;
      margin-left: unset;
    }
  }
}

@media (max-width: 1200px) {
  html[dir="rtl"] {
    .menu-expanded .app-sidebar {
      transform: unset;
    }
    .app-sidebar {
      transform: translate3d(1000%, 0, 0);
    }
    .main-panel .main-content {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .navbar-header .navbar-toggle {
      margin: 8px 6px 0 17px;
    }
    nav.navbar {
      margin-right: 0 !important;
    }
  }
}

apx-chart {
  direction: ltr !important;
}
webcam {
  video {
    width: 100%;
  }
}

.btn-danger {
  color: #fff;
  background-color: #ff2f2f !important;
  border-color: #ff2f2f !important;
  &:hover,
  &:active,
  &:focus {
    background-color: #df1515 !important;
    border-color: #df1515 !important;
  }
}
.alert-danger {
  color: #842029 !important;
  background-color: #f8d7da !important;
  border-color: #f5c2c7 !important;
  &:hover,
  &:active,
  &:focus {
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
  }
}
.alert-success {
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
  border-color: #badbcc !important;
  &:hover,
  &:active,
  &:focus {
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
  }
}

.table th,
.table td {
  padding: 0.5rem 1rem;
}

.upload-file {
  background-color: #ffff;
  border: 1.5px dashed #8b8989;
  width: 100%;
  margin-bottom: 30px;
  max-height: 200px;

  &:hover {
    border-style: solid;
  }

  &.uploaded {
  }

  cursor: pointer;

  .show-photo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    margin: 5px;
    .icon {
      position: absolute;
      top: 15px;
      right: 15px;
      // transform:  scale(0);
      width: 34px;
      height: 34px;
      text-align: center;
      background: #ff6464;
      border-radius: 50%;
      transform-origin: center;
      transition: all 0.3s ease-in-out;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      .delete {
        fill: #fff;
      }
      i {
        color: #fff;
      }
    }

    // &:hover{
    //     .icon{
    //         transform: scale(1);
    //     }

    // }
    img {
      width: 100%;
      height: 100%;
      max-height: 270px;
      object-fit: contain;
    }
  }

  .icon-upload {
    margin-top: 1.2rem;
  }

  label {
    cursor: pointer;
  }

  input {
    opacity: 0;
    cursor: pointer;
  }

  h5 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 8px 0 2px;
  }

  p {
    font-size: 0.6rem;
    color: #8b8989;
    margin-bottom: 8px;
  }

  span {
    font-size: 1rem;
    color: #b2b2b2;
    margin: 12px;
    display: block;
  }

  .btn {
    background-color: #e43f5a;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 1.2rem;

    img {
      vertical-align: sub;
    }
  }
}

// position
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.datatable-footer-inner {
  .page-count {
    direction: ltr;
  }
}

.widget-details {
  border-bottom: 3px solid #fff;
  .content {
    width: 230px;
    background-color: #ddd;
    padding: 5px;
    p {
      font-weight: bold;
    }
  }
  .info {
    padding: 5px;
    background: #f1f1f1;
    p {
      color: #000;
    }
    width: calc(100% - 250px);
  }
}

@media (max-width: 996px) {
  .widget {
    border-bottom: 3px solid #fff;
    .content,
    .info {
      width: 100%;
      padding: 5px;
    }
  }
  .card-cs {
    min-height: 100vh;
  }
}
.wrapper {
  height: auto !important;
}

.badge-danger {
  background-color: #dc3545;
}
.text-danger,
.danger {
  color: #dc3545 !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #dc3545 !important;
  background-position: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
}

app-register-page .mat-tab-body-wrapper,
app-register-page .mat-tab-body,
app-register-page .mat-tab-body-content,
app-register-page .mat-tab-body.mat-tab-body-active,
.modal-content,
.modal-content .mat-tab-body-wrapper,
.modal-content .mat-tab-body,
.modal-content .mat-tab-body-content,
.modal-content .mat-tab-body.mat-tab-body-active {
  overflow: unset !important;
}
.modal-body {
  overflow-x: clip !important;
}

mat-expansion-panel.first {
  border: 2px solid rgba(64, 191, 87, 0.651);
}
@media (max-width: 576px) {
  .main-panel .main-content .content-wrapper {
    padding: 0;
  }
}
.card-cs {
  box-shadow: 0 -7px 10px 0 rgb(0 0 0/ 10%);
  border-radius: 40px;
  // min-height: calc(100vh - 76px);
  .card-body {
    padding: 15px;
  }
}

.custom-card {
  border-radius: 30px;
  padding: 20px 15px;
  margin-bottom: 30px;
  // box-shadow: 0 0px 10px 0 rgb(0 0 0/ 10%);
  position: relative;
  min-height: calc(100% - 30px);
  .date {
    p {
      color: #000;
      font-family: "avenir-black";
      font-size: 17px;
      margin-inline-start: 5px;
    }
  }
  .subject {
    .subject-text {
      color: #000;
      font-size: 14px;
    }
    .status {
      overflow: hidden;
      span {
        font-size: 14px;
        color: #000;
        margin-inline-start: 5px;
        position: relative;
        &:after {
          content: "";
          width: 100px;
          height: 2px;
          background: #590242;
          position: absolute;
          top: 50%;
          margin-inline-start: 5px;
        }
      }
      h4 {
        font-size: 40px;
      }
      &.success {
        h4 {
          color: #038d23;
        }
      }
      &.warning {
        h4 {
          color: #958b00;
        }
      }
      &.danger {
        h4 {
          color: #a10000;
        }
      }
    }
  }
  .comment {
    p {
      color: #c5ffcd;
    }
  }
  .seatPrice {
    position: absolute;
    color: #590242;
    top: 15px;
    left: 10px;
    h4 {
      font-size: 25px;
      margin: 0;
    }
    span {
      margin-inline-start: 5px;
    }
  }
  .icon {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
}

.statistics {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  z-index: 999;
  width: 80%;
  position: relative;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 23%);
  margin: 0 auto -50px;
  p {
    margin-bottom: 10px;
  }
  h4 {
    color: #590242;
    font-size: 35px;
    margin-bottom: 0;
  }
  span {
    font-size: 16px;
    color: #590242;
    margin-inline-start: 5px;
  }
}
.card-header {
  .btn-white {
    box-shadow: 0 0 6px 0 rgba($color: #000000, $alpha: 0.11);
  }
}

.sessions-tabs {
  .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
    background: #590242;
    border: 1px solid #43434317;
    margin: 15px;
    border-radius: 12px;
    color: #fff;
  }
  .mat-tab-label-active {
    color: #000;
    font-weight: bold;
    font-family: "avenir-black";
    opacity: 1;
    box-shadow: 0 8px 16px 0 #00000029;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    opacity: 0;
  }
  .mat-tab-nav-bar,
  .mat-tab-header {
    border: unset;
  }
  .mat-tab-body-content {
    padding: 15px 0;
  }
}

.p-absolute {
  position: absolute;
  inset: 0;
  z-index: 999;
}
.student-tab {
  .mat-tab-label-active {
    background: #fff;
    opacity: 1;
    border-radius: 20px 20px 0 0;
  }
  .mat-tab-nav-bar,
  .mat-tab-header {
    border: unset;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    opacity: 0;
  }
  .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
    transition: all 0.3s ease-in-out;
  }
}

.students {
  .student-box {
    padding: 10px;
    border-radius: 10px;
    padding-inline-start: 45px;
    margin-bottom: 10px;
    background: #dedede4a;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 50%;
      background-color: #fe5d16;
      right: 15px;
      transform: translateY(-50%);
    }

    h6 {
      color: #000;
    }
    p {
      font-family: "avenir-black";
    }
    .status {
      color: #fe5d16;
    }
    &.selected {
      // background-color: #038d2347;
      &:before {
        background-color: #038d23;
      }
      .status {
        color: #038d23;
      }
    }
  }
}
.mobile-view,
.desktop-view {
  display: none;
}

@media (max-width: 1200px) {
  .menu-expanded .app-sidebar,
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: block;
  }
}
@media (min-width: 1200px) {
  .desktop-view {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}

.fixed-menu {
  position: fixed;
  bottom: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  background: #f8f7f6;
  border-radius: 28px;
  padding: 0 5px;
  z-index: 1049;
  .item {
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &.active {
      background-color: #f2f0eb;
      border-radius: 35px;
      box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 14%);
      span {
        font-size: 15px;
      }
    }
    img {
      width: 20px;
    }
    span {
      margin-inline-start: 5px;
      font-size: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}
.inner-div{
  width: 100%;
}
@media (max-width: 776px) {
  .inner-div{
    width: auto !important;
  }
  .students {
    .student-box {
      background: #dedede4a;
    }
    .col-lg-4.col-md-6:nth-child(2n) {
      .student-box {
        background: #fff;
      }
    }
  }
}

.overflow-wrap{
  overflow-wrap: break-word;
}
.ng-select span.ng-value-label{
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 210px !important;
}
